@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-link {
  display: inline-block;
}

.nav-text {
  display: inline-block;
}

.nav-text::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #07969e;
  border-radius: 50%;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav-link:hover .nav-text::after,
.nav-link:focus .nav-text::after,
.nav-link:active .nav-text::after {
  opacity: 1;
}

@media (max-width: 768px) {
  .nav-link {
    display: flex;
    align-items: flex-start;
  }
  .nav-text::after {
    bottom: -10px;
  }
}

.hide-overflow {
  overflow: hidden;
}
